<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ng.todo.mapper.BaseAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ng.todo.entity.BaseArea">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="pid_code" property="pidCode" />
        <result column="name" property="name" />
        <result column="creator" property="creator" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, pid_code, name, creator, gmt_created, gmt_modified
    </sql>

</mapper>
